.mainContent {
  margin: 0 auto;
}

.logout {
  background-color: transparent;
  color: black;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* .post_wrapper {
  width: 600px;
  display: block;
  box-sizing: border-box;
  margin: 0 auto 60px auto;
  background-color: white;
  border: 1px solid #888888;
}

.post_user {
  height: 60px;
  border-bottom: 1px solid lightgray;
  padding: 16px;
}

.post_bar {
  padding: 8px;
}

.post_content {
  padding: 0 15px 0 15px;
} */

/* user_page */
.userProfile {
  max-width: 750px;
  min-width: 600px;
  display: flex;
  font-size: 15px;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.profileContent {
}

.profileTop {
  margin-bottom: 15px;
}

.profileName {
  font-weight: 300;
}
